page-login {
    .appBackground {
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;
        position:relative;
    }
    .logo {
        bottom:5%;
        left:50%;
        position:absolute;
        transform:translateX(-50%);
        width:200px;
    }
    .card {
        background-color:rgba(255,255,255,.5);
        margin:0;
        left:50%;
        position:absolute;
        top:50%;
        transform:translateX(-50%) translateY(-50%);
    }
    .card .item {
        background:transparent;
    }
    .card .item-input .label {
        color:#333333;
    }
    .card .button {
        margin-top:15px;
    }
    .card .pwdreset {
        color:#004595;
        float:right;
        font-weight:bold;
        margin:15px 0;
        text-decoration:none;
    }

    .device-not-checked {
        padding:35px 15px;
        text-align:center;
    }
    .device-not-checked p {
        color:maroon;
    }
    .device-not-checked p:not(:first-child) {
        margin-top:25px;
    }

    .toast * {
        text-align:center;
        width:100%;
    }

    /* iOs Styles */
    .list-ios > .item-block:first-child {
        border:none;
    }
}
