page-offer-discount-modal {
    .scroll-content {
        padding:16px!important;
    }
    ion-content {
        background-color:rgba(0,0,0,.5)!important;
    }
    ion-card {
        left:0;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
    }
    button.button-full-md {
        margin-top:15px;
    }

    /* iOS styles */
    ion-navbar .text-ios-primary {
        color:white;
        font-size:14px;
    }
    .toolbar-ios ion-title {
        padding:0;
    }
}
