page-offer {
    ion-title {
        display:inline-block;
        left:0;
        position:absolute;
        text-align:center;
        text-transform:uppercase;
        top:50%;
        transform:translateY(-50%);
        width:100%;
        z-index:-1;
    }
    .buttons-left,
    .buttons-right {
        z-index:1;
    }
    .buttons-left {
        float:left;
    }
    .buttons-right {
        float:right;
    }
    .offerBackground {
        background-image:url(/assets/imgs/offerbackground.jpg);
        background-position:top center;
        background-repeat:no-repeat;
        background-size:contain;
    }

    ion-card.selected {
        background-color:lightblue;
    }
    ion-card-content.card-content {
        padding:5px;
    }
    ion-card-content .reference,
    ion-card-content .price,
    ion-card-content .price_o {
        font-size:14px;
    }
    ion-card-content .reference {
        color:black;
        font-weight:bold;
    }
    ion-card-content .price {
        color:darkgray;
        text-align:right;
    }
    ion-card-content .price_o {
        font-weight:bold;
        text-align:right;
    }
    ion-card-content .price_o.accepted {
        color:green;
    }
    ion-card-content .price_o.rejected {
        color:red;
    }
    ion-card-content .description,
    ion-card-content .amount {
        padding:0 5px;
    }
    ion-card-content .description {
        color:gray;
        font-size:10px;
    }
    ion-card-content .amount,
    ion-footer .totals .amount {
        color:dimgray;
        font-size:12px;
        text-align:right;
    }
    ion-card-content ion-icon {
        color:dimgray;
        padding-left:10px;
        padding-right:3px;
    }
    ion-footer .totals .amount ion-icon {
        color:dimgray;
        padding:0 3px;
    }
    ion-footer .totals .amount ion-icon:first-child {
        padding-left:0;
    }

    ion-footer .totals {
        left:50%;
        position:absolute;
        text-align:center;
        top:50%;
        transform:translateX(-50%) translateY(-50%);
    }
    ion-footer .totals .price_o {
        border-radius:5px;
        color:white;
        font-weight:bold;
        padding:0 15px;
    }
    ion-footer .totals .price_o.undefined {
        background-color:gray;
    }
    ion-footer .totals .price_o.accepted {
        background-color:green;
    }
    ion-footer .totals .price_o.rejected {
        background-color:red;
    }
    ion-footer .totals .price {
        color:gray;
        font-size:12px;
    }
    ion-footer .totals .amount {
        color:gray;
        text-align:center;
    }
    ion-footer .totals .amount ion-icon {
        color:gray;
    }
}
